<div class="container">
    <h1>Blocks on chain</h1>
    <p>Each card represents a block on the chain. Click on the block to see the transactions stored inside.</p>

    <!-- insert the block-view component-->
    <!-- use for loop to crawl in the blockchain and view all blocks of the chain-->
    <app-block-view
        *ngFor="let block of blocks"
        [block]="block"
        [click]="showTransactions(block)"
    ></app-block-view>
</div>

<br><br>

<!-- add container where the transaction inside the block will be viewed -->
<div class="container">
    <h1>Transactions inside block</h1>
    <!-- table should receive a list of transactions that it has to visualize -->
    <!-- pass along the transactions in the selected block -->
    <app-transactions-table
        [transactions]="selectedBlock.transactions" 
    ></app-transactions-table>
</div>