<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    pCoin
  </a>

  <!-- add settings button -->
  <!-- add create transaction button -->
  <!-- add pending transactions button -->
  <div>
    <button class="btn btn-outline-light" routerLink="/new/transaction">Create transaction</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction/pending">Pending transactions</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="settings">Settings</button>
  </div>

</nav>

<router-outlet></router-outlet>